<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mj_actionBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{102,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_back_bird.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,149},{102,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_back_cover_opp.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,367},{52,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_back_cover_self.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,127},{85,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,124}</string>
			</dict>
			<key>tile_back_cover_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,1},{70,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,62}</string>
			</dict>
			<key>tile_back_opp.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,1},{52,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_back_played_self.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,367},{52,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_back_played_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,73},{70,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,62}</string>
			</dict>
			<key>tile_back_self.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,297},{102,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_back_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,218},{30,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,66}</string>
			</dict>
			<key>tile_back_used_self.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,1},{86,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,124}</string>
			</dict>
			<key>tile_tiao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,253},{75,92}}</string>
				<key>offset</key>
				<string>{-4,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_tiao1s.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,53},{38,46}}</string>
				<key>offset</key>
				<string>{-1,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_tiao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,103},{17,94}}</string>
				<key>offset</key>
				<string>{-1,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_tiao2s.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,343},{10,48}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_tiao3.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,1},{62,93}}</string>
				<key>offset</key>
				<string>{-2,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_tiao3s.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,187},{32,48}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_tiao4.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,311},{54,94}}</string>
				<key>offset</key>
				<string>{0,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_tiao4s.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,172},{28,48}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_tiao5.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1},{62,94}}</string>
				<key>offset</key>
				<string>{0,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_tiao5s.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,138},{32,48}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_tiao6.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,421},{64,94}}</string>
				<key>offset</key>
				<string>{0,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_tiao6s.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,385},{34,48}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_tiao7.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,96},{58,94}}</string>
				<key>offset</key>
				<string>{0,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_tiao7s.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,292},{30,48}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_tiao8.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,156},{58,94}}</string>
				<key>offset</key>
				<string>{0,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_tiao8s.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,216},{30,48}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_tiao9.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,251},{58,94}}</string>
				<key>offset</key>
				<string>{0,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_tiao9s.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,266},{30,48}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_tong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,421},{74,73}}</string>
				<key>offset</key>
				<string>{-1,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_tong1s.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,216},{38,38}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_tong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,55},{40,82}}</string>
				<key>offset</key>
				<string>{-1,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_tong2s.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,191},{20,41}}</string>
				<key>offset</key>
				<string>{-1,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_tong3.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,127},{80,89}}</string>
				<key>offset</key>
				<string>{0,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_tong3s.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,238},{40,45}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_tong4.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,355},{77,91}}</string>
				<key>offset</key>
				<string>{3,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_tong4s.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,172},{35,42}}</string>
				<key>offset</key>
				<string>{1,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_tong5.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,347},{74,92}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_tong5s.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,127},{32,41}}</string>
				<key>offset</key>
				<string>{-1,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_tong6.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,1},{56,105}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_tong6s.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,237},{28,53}}</string>
				<key>offset</key>
				<string>{-1,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_tong7.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,423},{68,96}}</string>
				<key>offset</key>
				<string>{2,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_tong7s.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,138},{33,47}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_tong8.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,191},{58,104}}</string>
				<key>offset</key>
				<string>{-1,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_tong8s.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,49},{29,54}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_tong9.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,356},{77,101}}</string>
				<key>offset</key>
				<string>{-2,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_tong9s.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,101},{35,46}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_wan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,1},{65,92}}</string>
				<key>offset</key>
				<string>{-2,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_wan1s.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,35},{33,46}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_wan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,1},{67,100}}</string>
				<key>offset</key>
				<string>{-2,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_wan2s.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,387},{34,51}}</string>
				<key>offset</key>
				<string>{-1,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_wan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,253},{65,102}}</string>
				<key>offset</key>
				<string>{-2,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_wan3s.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1},{31,48}}</string>
				<key>offset</key>
				<string>{-1,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_wan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,122},{67,99}}</string>
				<key>offset</key>
				<string>{-1,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_wan4s.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,80},{32,48}}</string>
				<key>offset</key>
				<string>{-1,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_wan5.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,318},{65,100}}</string>
				<key>offset</key>
				<string>{-2,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_wan5s.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,1},{32,49}}</string>
				<key>offset</key>
				<string>{-1,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_wan6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,445},{65,103}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_wan6s.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,218},{33,51}}</string>
				<key>offset</key>
				<string>{-1,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_wan7.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,320},{65,102}}</string>
				<key>offset</key>
				<string>{-1,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_wan7s.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,216},{32,50}}</string>
				<key>offset</key>
				<string>{-1,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_wan8.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,435},{69,102}}</string>
				<key>offset</key>
				<string>{1,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_wan8s.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,385},{35,50}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_wan9.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,251},{65,102}}</string>
				<key>offset</key>
				<string>{-2,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_wan9s.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,387},{33,51}}</string>
				<key>offset</key>
				<string>{-1,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_zhi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,253},{79,101}}</string>
				<key>offset</key>
				<string>{3,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_zhi1s.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,1},{41,50}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_zhi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,422},{70,92}}</string>
				<key>offset</key>
				<string>{2,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_zhi2s.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,189},{39,47}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_zhi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,170},{74,79}}</string>
				<key>offset</key>
				<string>{1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_zhi3s.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,1},{37,46}}</string>
				<key>offset</key>
				<string>{-1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_zhi4.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,423},{73,93}}</string>
				<key>offset</key>
				<string>{-3,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_zhi4s.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,213},{38,48}}</string>
				<key>offset</key>
				<string>{-1,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_zhi5.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,108},{60,98}}</string>
				<key>offset</key>
				<string>{1,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_zhi5s.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,216},{33,49}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_zhi6.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,253},{84,88}}</string>
				<key>offset</key>
				<string>{2,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_zhi6s.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,139},{40,48}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>tile_zhi7.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,435},{74,98}}</string>
				<key>offset</key>
				<string>{1,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,146}</string>
			</dict>
			<key>tile_zhi7s.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,80},{34,45}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{835,511}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>835</integer>
			<key>height</key>
			<integer>511</integer>
		</dict>
	</dict>
</plist>